body 
{
    background-image: linear-gradient(90deg,rgb(227, 119, 119),orange);
}
h2
{
    text-align: center;
}
#newuserpage,#reigistereduserpage,#mainmenu,#greetingspage,#balancecheck,#recharge,#viewtravelhistory,#travel,#exit
{
    display: none;
}
button
{
    background-color: rgb(34, 30, 148);
    color: white;
    border: none;
    /* border-radius: 20px; */
    padding: 5px;
}
#mainmenu
{
    /* max-width: 100%; */
    margin: 0;
    background-color: rgb(34, 30, 148);
    /* background */
}